<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>List Country</title>
</head>
<body>
<h1>List Country</h1>
<table>
    <thead>
    <tr>
        <td>Code</td>
        <td>Country</td>
        <td>Latitude</td>
        <td>Longitude</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="country : ${countries}">
        <td th:text="${country.code}"></td>
        <td th:text="${country.name}"></td>
        <td th:text="${country.latitude}"></td>
        <td th:text="${country.longitude}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>